<div class="products-container">
        <div class="product-card" *ngFor="let product of products">
            <h2>{{product.name}}</h2>
            <h3>{{product.description}}</h3>
            <h3>Price: {{product.price | currency: "EUR"}}</h3>
            <h4>Category: {{product.category}}</h4>
            <p>Stock: {{product.stock}}</p>
            <button (click)=" addProductToCart(product.id)" [disabled]="product.stock === 0" [ngClass]="{'disabled-button': product.stock === 0}">Add To Cart</button>
        </div>
</div>
