body{
    background-image: url(https://images.hdqwalls.com/download/minimal-abstract-5k-nj-2048x1152.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

button{
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    background-color: rgb(145, 12, 34);
}
   
   
