
    <form [formGroup]="addProductForm" (ngSubmit)="onFormSubmit()" id="productForm">



        <label for="productName">Product Name: </label>
        <input type="text" id="productName" formControlName="productName">

        <label for="productDescription">Description: </label>
        <textarea name="productForm" id="productDescription" cols="30" rows="3" formControlName = "productDescription"></textarea>

        <label for="productPrice">Price: </label>
        <input type="number" id="productPrice" formControlName = "productPrice">

        <label for="productCategory">Category: </label>
        <input type="text" id="productCategory" formControlName = "productCategory">


        <div *ngIf="addProductForm.get('productCategory')?.hasError('invalidCategory') &&  
           addProductForm.get('productCategory')?.touched && addProductForm.get('productCategory')?.invalid" style="color: red;">
            <p style="color: red;">Invalid Category Selected</p>
        </div>

        <label for="productStock">Stock: </label>
        <input type="number" id="productStock" formControlName="productStock">



        <button type="submit" [disabled]="!addProductForm.valid">Add Product</button>
</form>




