<app-header></app-header>


<h3>{{hotelName}}</h3>

<h3>Number of Rooms</h3>
<div [hidden]="hideRooms">
    <div [innerText]="numberOfRooms"></div>
</div>


<div *ngIf ="rooms?.availableRooms">
<app-rooms-list [roomsList] = "roomsList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>


<button (click)="toggle()">Toggle Rooms</button>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<h3>{{message}}</h3>

<button (click) = " sendDataToParent()">Send data to parent</button>